---
# Inventaire Ansible - Format YAML
# Configuration pour Jenkins Server

all:
  vars:
    ansible_ssh_private_key_file: ~/.ssh/id_rsa
    ansible_python_interpreter: /usr/bin/python3
    project_name: jenkins-deployment
    env_name: production      # Option 1 (recommandée)
    deployment_env: prod      # Option 2
    deployment_stage: production  # Option 3
  
  children:
    jenkins:
      hosts:
        jenkins-srv:
          # Connexion via IP privée (même VPC) (jenkins)
          ansible_host: 10.0.3.201
          ansible_user: admin
          
          # Informations additionnelles (ansible)
          public_ip: 44.200.58.127
          public_dns: ec2-44-200-58-127.compute-1.amazonaws.com
          private_ip: 10.0.2.194
          
          # Configuration Jenkins spécifique
          jenkins_http_port: 8080
          jenkins_home: /var/lib/jenkins
          jenkins_admin_username: admin
          jenkins_admin_password: "{{ vault_jenkins_admin_password | default('changeme123') }}"
      
      vars:
        # Variables du groupe jenkins
        java_version: 11
        jenkins_version: latest
        jenkins_plugins:
          - git
          - workflow-aggregator
          - docker-workflow
          - credentials-binding
          - github
          - ssh-slaves
    
    ci_cd:
      children:
        jenkins: {}
      vars:
        ci_cd_tools:
          - git
          - maven
          - docker
